packages:
  dnf:
    python3-devel: []
    gcc: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings.production"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "config.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache

container_commands:
  00_create_staticfiles_dir:
    command: "mkdir -p /var/app/current/staticfiles"
  01_install_psycopg:
    command: "/var/app/venv/*/bin/pip install 'psycopg2-binary'"
  02_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput > /var/log/makemigrations.log 2>&1"
    leader_only: true
  03_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput -v 2"
  05_check_staticfiles:
    command: "ls -la /var/app/current/staticfiles"
  06_check_staticfiles:
    command: "ls -la /var/app/current/staticfiles"
  07_print_static_settings:
    command: "source /var/app/venv/*/bin/activate && python3 -c \"from django.conf import settings; print('STATIC_ROOT:', settings.STATIC_ROOT); print('STATIC_URL:', settings.STATIC_URL); print('STATICFILES_DIRS:', settings.STATICFILES_DIRS)\""
  08_check_s3_bucket:
    command: "aws s3 ls s3://${DJANGO_AWS_STORAGE_BUCKET_NAME}/static/ --summarize"
  09_compilemessages:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py compilemessages"
    leader_only: true
