packages:
  dnf:
    python3-devel: []
    gcc: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings.production"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "config.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache

container_commands:
  01_install_psycopg:
    command: "/var/app/venv/*/bin/pip install 'psycopg2-binary'"
  02_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput > /var/log/makemigrations.log 2>&1"
    leader_only: true
  03_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
  05_compilemessages:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py compilemessages"
    leader_only: true
