{% extends "base.html" %}

{% block content %}
  {% block title %}
    Scan Barcode
  {% endblock title %}
  <body>
    <div id="interactive" class="viewport"></div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        Quagga.init({
          inputStream: {
            name: "Live",
            type: "LiveStream",
            target: document.querySelector('#interactive')
          },
          decoder: {
            readers: ["ean_reader"]
          }
        }, function(err) {
          if (err) {
            console.log(err);
            return;
          }
          Quagga.start();
        });

        Quagga.onDetected(function(data) {
          const barcode = data.codeResult.code;
          console.log(barcode);
          fetch(`/api/food/${barcode}/`)
            .then(response => response.json())
            .then(data => {
              if (data.error) {
                console.error('Food item not found');
              } else {
                alert(`Food: ${data.name}, Calories: ${data.calories}`);
              }
            })
            .catch(error => console.error('Error:', error));
        });
      });
    </script>
  </body>
{% endblock content %}
